.header { // The div in header which contains all of its elements has a class name of header, so this will apply
    background:$red;
    color: $light-red;
    margin-bottom: $xl-size; 
    padding: $m-size 0;
}
// BEM naming conventiuon, block element modifier
.header__title {
    font-size: $l-size;
    margin: 0
}

.header__subtitle {
    color: white;
    font-size: $m-size;
    font-weight: 500; // Thickness off the font 
    margin: 0; 
} 

@media (min-width: $desktop-breakpoint) {
    .header {
            margin-bottom: $xl-size;
        }
}    